html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 18px;
    /* rem의 기준크기-설정값 조정(본인 웹사이트 디자인에 따라서) */
}
body{
    font-family: 'SUIT';
    font-size: 18px;
    /* line-height: 1.2rem; */
    color: #292929;
    /* font-family, font-size 설정값 조정 */
}
#wrap{
    min-width: 1320px;
    /* veiwport 너비랑 똑같이 설정해줘야 함 */
}
/*  */
.top_btn{
    position: fixed;
    right: 80px;
    bottom: 25px;
    z-index: 9;
    cursor: pointer;
}
/*  */

/* header */
#header{
    height: 95px;
    background-color: #fff;
}
#header .inner_header{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    /* position: relative; */
}
h1{
    height: 95px;
    align-items: center;
}
.gnb{
    display: flex;
}
.gnb li a{
    display: block;
    margin: 30px 45px 0 45px;
    padding-bottom: 38px;
    font-size: 22px;
    font-weight: 900;
    color: #292929;
    /* background-color: #ce6565; */
}
.gnb li a:hover{
    color: #2f499b;
}

.header_link{
    display: flex;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.header_link li a{
    margin-right: 18px;
    font-weight: 500;
}
/* header-searchbar */
#content{
    width: 180px;
    position: absolute;
    right: 55px;
    top: center;
    z-index: 9;
    display: none;
}
#content input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: #292929;
    background-color: #fff;
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
}
#content input::placeholder{
    color: #444444;
}

/* banner */
#banner{
    width: 1320px;
    height: 400px;
    margin: 0 auto;
    background-color: #E7EFFC;
    margin-bottom: 80px;
    border-radius: 50px;
}

/* container */
#container{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
#container .tab{
    display: flex;
    border-bottom: 3px solid #004FD6; 
    font-size: 25px;
}
/* #container .tab li{
    padding: 7px 5px;
} */
#container> .tab> li> a{
    padding: 7px 15px;
    display: block;
}
#container .tab li:nth-child(1){
    font-weight: 700;
    border: 3px solid #004FD6;
    border-radius: 6px 6px 0 0;
    border-bottom: #fff;
    position: relative;
    top: 3px;
    background-color: #fff;
}
#container .tab li:nth-child(2){
    padding-top: 3px;
}
#container .tab li:nth-child(2) a{
    border: 1px solid #9a9a9a;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    position: relative;
    top: 0;
}
/* #container .topsection{
    height: 80px;
} */
.topLetter{
    display: flex;
    align-items: cetner;
    height: 80px;
    font-weight: 500;
}
.topLetter span{
    color: #004FD6;
}
#container .topsection p{
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}
#container .topSearch{
    display: flex;
    position: absolute;
    top: 73px;
    right: 0;
}
#container .topSearch p:nth-child(1){
    color: #004FD6;
    font-weight: 500;
}
#container .topSearch p:hover{
    color: #004FD6;
    font-weight: 500;
}
#container .line:before{
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 14px;
    background-color: #525252;
    margin: 0 13px;
    /* vertical-align: 0px; */
}
#container .itemSearch{
    width: 220px;
    /* height: 35px; */
    position: relative;
    margin-left: 50px;
    
}
#container .itemSearch input{
    display: inline-block;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: #292929;
    border: 1px solid #707070;
    background-color: #fff; 
    border-radius: 100px;
    padding: 5px 25px;
    box-sizing: border-box;
}
#container .itemSearch input::placeholder{
    color: #7c7c7c;
}
#container .itemSearch img{
    position: absolute;
    top: 9px;
    right: 17px;
}

/* container-first */
#container .first{
    display: flex;
    justify-content: space-between;
}
#container .firstLeft{
    width: 480px;
    /* border-top: 1px solid #c8c8c8; */
}

#container .magazine{
    border-top: 1px solid #c8c8c8;
}
#container .magazine .imgWrap{
    overflow: hidden;
    /* height: 200px; */
    /* margin-bottom: 20px; */
    position: relative;
}
#container .magazine .imgWrap img{
    transform: scale(1);
    /* display: block; */
    transition: transform 0.5s;
}
#container .magazine .imgWrap img:hover{
    transform: scale(1.15);
}



#container .magazine> li:nth-child(2){
    font-weight: 700;
}
#container .magazine> li:nth-child(2) a:hover{
    text-decoration: underline;
    text-decoration-color: #004FD6;
}
#container .magazine> li:nth-child(3){
    padding: 20px 0;
}
#container .magazine> li:nth-child(3) img{
    display: block;
}
#container .date{
    padding-top: 25px;
}
#container .date ul{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
#container .date li:nth-child(1){
    border: 1px solid #004FD6;
    border-radius: 100px;
    padding: 0 10px;
    color: #004FD6;
    font-size: 14px;
    font-weight: 600;
}
#container .date li:nth-child(2){
    color: #707070;
}

#container .firstRight{
    width: 825px;
}
.firstRight-1{
    display: flex;
    justify-content: space-between;
}

/* container-second */
#container .second{
    display: flex;
    justify-content: space-between;
}

#container .third{
    display: flex;
    justify-content: space-between;
}

.pagination{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    margin: 50px 0 150px 0;
}
.pagination span{
    margin: 0 4px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
}
.pagination span:nth-child(1){
    padding: 5px;
}
.pagination .currentpage{
    display: inline-block;
    background-color: #004FD6;
    color: white;
    width: 27px;
    height: 27px;
    /* line-height: 30px; */
    text-align: center;
    border-radius: 50%;
}
.pagination span:hover{
    color: #004FD6;
}
.pagination span:nth-child(1):hover{
    color: #fff;
}


/* footer */
#footer{
    height: 260px;
    background-color: #fff;
    border-top: 1px solid #2f499b;
    font-size: 15px;
}
#footer .innerFooter{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
#footer span{
    font-weight: 600;
}
#footer p{
    padding-bottom: 2px;
}
#footer .footerLogo img{
    padding: 0 0 11px 100px; 
}
.footer3 img{
    padding: 0 0 1px 4px;
}
