html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 18px;
}
body{
    font-family: 'SUIT';
    font-size: 18px;
    /* line-height: 1.2rem; */
    color: #292929;
}
#wrap{
    min-width: 1320px;
}
/*  */
.top_btn{
    position: fixed;
    right: 80px;
    bottom: 25px;
    z-index: 9;
    cursor: pointer;
}
/*  */

/* header */
#header{
    height: 95px;
    background-color: #fff;
}
#header .inner_header{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    /* position: relative; */
}
h1{
    height: 95px;
    align-items: center;
}
.gnb{
    display: flex;
}
.gnb li a{
    display: block;
    margin: 30px 45px 0 45px;
    padding-bottom: 38px;
    font-size: 22px;
    font-weight: 900;
    color: #292929;
    /* background-color: #ce6565; */
}
.gnb li a:hover{
    color: #2f499b;
}

.header_link{
    display: flex;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
.header_link li a{
    margin-right: 18px;
    font-weight: 500;
}
/* header-searchbar */
#content{
    width: 180px;
    position: absolute;
    right: 55px;
    top: center;
    z-index: 9;
    display: none;
}
#content input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: #292929;
    background-color: #fff;
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
}
#content input::placeholder{
    color: #444444;
}

/* banner */
#banner{
    height: 500px;
    background: url(../images/sub5_community/bannerbg.jpg) no-repeat center;
}
#banner p{
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    padding-top: 200px;
}

/* event */
#event{
    width: 1320px;
    margin: 130px auto 50px; 
}
h2{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.subtitle{
    text-align: center;
    font-size: 22px;
    padding-top: 8px;

}
.event1, .event2{
    display: flex;
    justify-content: space-between;
}
#event ul{
    margin-top: 50px;
}
#event .category{
    font-size: 16px;
    padding: 20px 0 10px 0;

}
#event .category span:nth-child(1){
    border: 1px solid #004FD6;
    border-radius: 20px;
    padding: 2px 10px;
    color: #fff;
    background-color: #004FD6;
    margin-right: 5px;
}
#event .category span:nth-child(2){
    border: 1px solid #004FD6;
    border-radius: 20px;
    padding: 2px 10px;
    color: #004FD6;
}
#event ul li:nth-child(3){
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}
#event ul li:nth-child(3) a:hover{
    /* text-decoration: underline; */
    /* text-decoration-color: #004FD6; */
    font-weight: 600;
    color: #004FD6;
}
#event ul li:nth-child(4){
    color: #3e3e3e;
    font-size: 16px;
}
.cover_wrap{
    position: relative;
    overflow: hidden;
    border-radius: 13px;
}
.cover{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: 13px;
}
.cover_wrap:hover .cover{
    opacity: 1;
}
.cover_wrap:hover .img_wrap img{
    transform: scale(1.025);
    transition: transform 0.7s;
}
.img_wrap img{
    display: block;
    transform: scale(1);
}


/* campaign */
#campBox{
    padding-top: 80px;
}
.campaignbg{
    background-color: #E7EFFC;
    height: 595px;
    margin-top: 40px;
}
.campWrap{
    width: 1320px;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-between; */
    padding-top: 55px;
}

/*  */
.section{
	width:1320px;
    padding: 50px 0;
    margin: 0 auto;
    height: 593px;
	position:relative;
    box-sizing: border-box;
}
.link{
	width:785px;
	position:absolute;
	top:90px;
	right:0;
    z-index: 9;
}
.link ul{
    display: flex;
}

.link ul li{
	/* width: 25%; */
	/* box-sizing:border-box; */
    padding-bottom: 10px;
    border-bottom: 1px solid #999999;
    padding-right: 40px;
}
.link ul li a{
	/* display:block; */
	/* height:100px; */
    font-size: 20px;
    font-weight: 600;
}
.link ul li a:hover{
    color: #004FD6;
    font-weight: 700;
}

.img_slide{
	position:relative;
	width: 1320px;
}
.cam1,.cam2,.cam3,.cam4{
	position:absolute;
	top:0;
	left:0;	
	width:100%;
	height:640px;
	background-size:cove	
}
.cam{
    display: flex;

    justify-content: space-between;
}
.leftimg{
    width: 362px;
}
.righttext{
    width: 784px;

    padding-top: 120px;
}
/* .img1{
	z-index:2;
	background:url(../images/sub5_community/poster1.svg) no-repeat center;
}
.img2{
	background:url(../images/sub5_community/poster2.svg) no-repeat center;
}
.img3{
	background:url(../images/sub5_community/poster3.svg) no-repeat center;
}
.img4{
	background:url(../images/room04.jpg) no-repeat left center;
} */

/* // */
.righttext .p1{
    font-size: 26px;
    font-weight: 600;
}
.righttext .p2{
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0 30px 0;
}
.righttext .p3{
    font-size: 19px;
    font-weight: 500;
}
.righttext .p4{
    font-size: 19px;
    padding: 30px 0 5px 0;
    font-weight: 500;
}
.righttext .p5{
    font-size: 17px;
    margin-bottom: 50px;
    font-weight: 500;
}
.righttext .btn a{
    background-color: #014FD7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
}
.righttext .btn a:hover{
    background-color: #fff;
    color: #014FD7;
}
.line{
    display: inline-block;
}
.line::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #999999;
    vertical-align: 0px;
    margin-right: 40px;
}

/* faq */
#faq{
    width: 1320px;
    margin: 100px auto 150px;
}
#faq .subtitle{
    padding-bottom: 25px;
}
.category2{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.category2 li{
    margin: 0 10px;
}
.category2 li a{
    border: 1px solid #004FD6;
    border-radius: 50px;
    padding: 4px 15px;
    font-weight: 500;
}
.category2 li a:hover{
    background-color: #004FD6;
    color: #fff;
}
.category2 li:nth-child(1) a{
    background-color: #004FD6;
    color: #fff;
}
.category2 li:nth-child(2) a{
    padding: 4px 18px;
}

.content{
    border-top: 1px solid #004FD6;
    margin-top: 30px;
}
.content> li{
    border-bottom: 1px solid #004FD6;

}
.list{
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.list li{
    text-align: center;
    font-size: 18px;
}
.list li:nth-child(1){
    width: 5%;
    font-size: 20px;
    font-weight: 900;
    color: #004FD6;
}
.list li:nth-child(2){
    width: 90%;
    text-align: left;
}
.list li:nth-child(3){
    width: 5%;
}
.answer{
    display: flex;
    font-size: 18px;
    padding: 20px 0;
    background-color: #3673F3;
    color: #fff;
    /* margin-top: 15px; */
}
.answer_text{
    /* width: 100%; */
    padding-left: 5%;
}
.turn{
    transform: rotate(180deg);
    transition: transform 0.5s;
}
/* // */

/* footer */
#footer{
    height: 260px;
    background-color: #fff;
    border-top: 1px solid #2f499b;
    font-size: 15px;
}
#footer .innerFooter{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
#footer span{
    font-weight: 600;
}
#footer p{
    padding-bottom: 2px;
}
#footer .footerLogo img{
    padding: 0 0 11px 100px; 
}
.footer3 img{
    padding: 0 0 1px 4px;
}
